/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  background-image: linear-gradient(
    to right,
    rgba(5, 47, 82, 0.9),
    rgba(76, 157, 227, 0.7)
  ), url("login\ image.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.link a {
  padding: 0.5rem;
  color: var(--white-color);
}

.link a:hover {
  color: var(--white);
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.login__inputs, .login__box {
  display: grid;
  row-gap: 1.25rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color-light);
  font-weight: 500;
  cursor: pointer;
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
}

@media (max-width: 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }
}
